/* AKG CSS Styles */
body {
	font-family: Arial, Helvetica, sans-serif;
}

table {
	font-size: 1em;
}

select:invalid { color: gray; }

.ui-draggable, .ui-droppable {
	background-position: top;
}
#test {
	border: solid 1px red;
	height: 100%;
}
